<%= simple_form_for @listing, html: { multipart: true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %>
        prevented this Listing from saving
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>
    <div class="form-group">
    <%= f.input :website, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :address, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :experience, input_html: { class: 'form-control' } %>
  </div>

  <%= f.submit 'Post', class: "btn btn-primary" %>
  <%= link_to "Cancel", listings_path,:class => "btn btn-danger" %>
<% end %>


